In [1]:
import os
import random
import pickle

# Anomaly Filter

In [2]:
meta_path = '../metadata/oc20_meta/oc20_data_metadata.pkl'
meta = pickle.load(open(meta_path,'rb'))

In [3]:
train_path = '/home/jovyan/shared-datasets/OC20/trajs/train_02_01/'
file_list = os.listdir(train_path)
train_ids, diss_list, desorp_list, recon_list, etc_list  = [], [], [], [], []

for f in file_list:
    if '.traj' in f:
        code = f.split('.')[0]
        if meta[code]['anomaly'] == 0:
            train_ids.append(code)
        elif meta[code]['anomaly'] == 1:
            diss_list.append(code)
        elif meta[code]['anomaly'] == 2:
            desorp_list.append(code)
        elif meta[code]['anomaly'] == 3:
            recon_list.append(code)
        elif meta[code]['anomaly'] == 4:
            etc_list.append(code)

anomaly_ids = {1: diss_list, 2: desorp_list, 3: recon_list, 4: etc_list}

In [4]:
len(train_ids)

462858

In [5]:
len(diss_list), len(desorp_list), len(recon_list), len(etc_list)

(113256, 32293, 25219, 6455)

In [11]:
with open('../metadata/filter_ids/normal_train_ids.pkl', 'wb') as f:
    pickle.dump(train_ids, f)

In [13]:
with open('../metadata/filter_ids/anomaly_train_ids.pkl', 'wb') as f:
    pickle.dump(anomaly_ids, f)

# Train

In [9]:
# random sampling

# seed = 0
# sample_number = 1000
# random.seed(seed)
# train_split_ids = random.sample(train_ids,sample_number)


# save_path = f'../metadata/split_ids/train/{sample_number}/'
# if not os.path.exists(save_path):
#     os.makedirs(save_path)

# with open(save_path+f'train_{seed}.pkl', 'wb') as f:
#     pickle.dump(train_split_ids, f)

In [6]:
# save all
save_path = f'../metadata/split_ids/train/'
if not os.path.exists(save_path):
    os.makedirs(save_path)

with open(save_path+f'train_ids.pkl', 'wb') as f:
    pickle.dump(train_ids, f)

# Validation

In [7]:
val_map=pickle.load(open('../metadata/oc20_meta/oc20_val_data.pkl', 'rb'))
val_map #.iloc[9000:9005]

,random_id,DFT_energy,bulk_id,miller,shift,top,adsorbate,site,formula,stoichiometry,distribution,bulk_e_above_hull,bulk_band_gap
460328,random1700380,-0.401909,mp-990232,"(1, 0, 0)",0.051,True,*NHNH,"(1.57, 5.42, 25.5)",Mn1Au4,"{'Mn': 1.0, 'Au': 4.0}",id,0.000000,0.0000
460329,random2320054,-3.992470,mp-1215213,"(1, 1, 0)",0.063,False,*CH2CH3,"(5.92, 0.76, 25.97)",Zr1Ta1Cr4,"{'Zr': 1.0, 'Ta': 1.0, 'Cr': 4.0}",id,0.003252,0.0000
460330,random662687,0.920258,mp-1216946,"(1, 0, 0)",0.123,True,*OHNH2,"(2.18, 2.06, 23.01)",Ti4Mn4Cr4,"{'Ti': 1.0, 'Mn': 1.0, 'Cr': 1.0}",id,0.000000,0.0000
460331,random1924657,0.992241,mp-31452,"(2, 1, 1)",0.062,False,*N2,"(7.85, 7.57, 19.43)",Zr1Ni1Bi1,"{'Zr': 1.0, 'Ni': 1.0, 'Bi': 1.0}",id,0.070902,0.0000
460332,random1507405,-0.051427,mp-1215529,"(2, 1, -2)",0.084,True,*OH,"(8.64, 7.42, 19.82)",Zn1Cu3,"{'Zn': 1.0, 'Cu': 3.0}",id,0.024972,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
560177,random1638018,4.145774,mp-12550,"(0, 0, 1)",0.250,False,*ONH,"(4.98, 7.15, 15.28)",Al1Cu1Pt2,"{'Al': 1.0, 'Cu': 1.0, 'Pt': 2.0}",ood_cat,0.000000,0.0000
560178,random1885680,4.251310,mp-8439,"(2, 2, 1)",0.142,False,*NO2NO2,"(3.06, 6.9, 16.64)",Ca10Al4Sb12,"{'Ca': 5.0, 'Al': 2.0, 'Sb': 6.0}",ood_cat,0.000000,0.1684
560179,random2186953,-2.622036,mp-2772,"(2, 0, 1)",0.023,True,*COCH2O,"(1.34, 1.2, 24.23)",Zr4Al8,"{'Zr': 1.0, 'Al': 2.0}",ood_cat,0.000000,0.0000
560180,random506877,-0.589995,mp-998945,"(1, 1, 1)",0.083,True,*N*NH,"(1.59, 1.49, 21.29)",Ti1Ni1,"{'Ti': 1.0, 'Ni': 1.0}",ood_cat,0.066641,0.0000
560181,random449586,-3.413943,mp-1067248,"(0, 1, 2)",0.057,True,*CCH3,"(1.47, 15.56, 24.86)",Ti2Ni2,"{'Ti': 1.0, 'Ni': 1.0}",ood_cat,0.002007,0.0000

In [14]:
val_ids, diss_list, desorp_list, recon_list, etc_list  = [], [], [], [], []

for i in val_map.index:
    code = val_map.loc[i]['random_id']
    if meta[code]['anomaly'] == 0:
        val_ids.append(code)
    elif meta[code]['anomaly'] == 1:
        diss_list.append(code)
    elif meta[code]['anomaly'] == 2:
        desorp_list.append(code)
    elif meta[code]['anomaly'] == 3:
        recon_list.append(code)
    elif meta[code]['anomaly'] == 4:
        etc_list.append(code)

anomaly_ids = {1: diss_list, 2: desorp_list, 3: recon_list, 4: etc_list}

In [15]:
print(len(val_ids))
print(len(diss_list), len(desorp_list), len(recon_list), len(etc_list))

77875
14925 3879 2735 415

In [16]:
with open('../metadata/split_ids/normal_val_ids.pkl', 'wb') as f:
    pickle.dump(val_ids, f)

with open('../metadata/split_ids/anomaly_val_ids.pkl', 'wb') as f:
    pickle.dump(anomaly_ids, f)

In [17]:
id_list, ood_cat_list, ood_ads_list, ood_both_list = [], [], [], []
for i in val_map.index:
    #print(i)
    if val_map.loc[i]['random_id'] in val_ids:
        if val_map.loc[i]['distribution'] == 'id':
            id_list.append(val_map.loc[i]['random_id'])
        elif val_map.loc[i]['distribution'] == 'ood_cat':
            ood_cat_list.append(val_map.loc[i]['random_id'])
        elif val_map.loc[i]['distribution'] == 'ood_ads':
            ood_ads_list.append(val_map.loc[i]['random_id'])
        else: # val_map.loc[i]['distribution'] == 'ood_both':
            ood_both_list.append(val_map.loc[i]['random_id'])

In [19]:
if len(val_ids) == len(id_list) + len(ood_cat_list) + len(ood_ads_list)+ len(ood_both_list):
    print('matching')

matching

In [20]:
with open('../metadata/split_ids/val/full_normal_id.pkl', 'wb') as f:
    pickle.dump(id_list, f)

with open('../metadata/split_ids/val/full_noraml_ood_cat.pkl', 'wb') as f:
    pickle.dump(ood_cat_list, f)

with open('../metadata/split_ids/val/full_normal_ood_ads.pkl', 'wb') as f:
    pickle.dump(ood_ads_list, f)

with open('../metadata/split_ids/val/full_normal_ood_both.pkl', 'wb') as f:
    pickle.dump(ood_both_list, f)

In [21]:
seed = 0
sample_number = 50
random.seed(seed)
val_id = random.sample(id_list,sample_number)
val_ood_cat = random.sample(ood_cat_list,sample_number)
val_ood_ads = random.sample(ood_ads_list,sample_number)
val_ood_both = random.sample(ood_both_list,sample_number)
val_all = val_id + val_ood_cat + val_ood_ads + val_ood_both


save_path = f'./data_split/val/{int(4*sample_number)}/'
if not os.path.exists(save_path):
    os.makedirs(save_path)

with open(save_path+f'val_id_{seed}.pkl', 'wb') as f:
    pickle.dump(val_id, f)

with open(save_path+f'val_ood_cat_{seed}.pkl', 'wb') as f:
    pickle.dump(val_ood_cat, f)

with open(save_path+f'val_ood_ads_{seed}.pkl', 'wb') as f:
    pickle.dump(val_ood_ads, f)

with open(save_path+f'val_ood_both_{seed}.pkl', 'wb') as f:
    pickle.dump(val_ood_both, f)

with open(save_path+f'val_all_{seed}.pkl', 'wb') as f:
    pickle.dump(val_all, f)